@{
    Layout = null;
    var boleto = ViewBag.Boleto as BoletoNet.BoletoBancario;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>Finder Jobs</title>
    <style>
        .boleto {
            background-color: #fff;
            width: 690px;
            padding: 12px;
        }
    </style>
</head>
<body class="jumbotron">
    <div class="container">
        <div class="boleto">
            @Html.Raw(boleto != null ? boleto.MontaHtmlEmbedded(false, false) : "Não foi possível gerar o boleto")
        </div>        
    </div>
</body>
</html>
