@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FinderJobs Manager</h1>
    <p class="lead">Sistema de administração e relatórios.</p>
    <p><a href="http://www.finderjobs.com.br" class="btn btn-primary btn-large">FinderJobs &raquo;</a></p>
</div>
