<html>
<head>
    <title>Cadastro Planos</title>
</head>
<body>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="http://localhost/Notify/notify.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <div class="jumbotron" id="app">
        <h4>Planos <a id="btn_adicionar"><i class="glyphicon glyphicon-plus-sign"></i></a></h4>
        <table class="table" id="planos">
            <thead>
                <tr>
                    <th>
                        <div class="col-md-2">
                            Nome
                        </div>
                    </th>
                    <th>
                        <div class="col-md-2">
                            Tipo
                        </div>
                    </th>
                    <th>
                        <div class="col-md-2">
                            Valor(R$)
                        </div>
                    </th>
                    <th>
                        <div class="col-md-2">
                            Período
                        </div>
                    </th>
                    <th>
                        <div class="col-md-2">
                            Características
                        </div>
                    </th>
                    <th>
                        <div class="col-md-2">
                            Data Cadastro
                        </div>
                    </th>
                    <th>
                        <div class="col-md-2">
                            Ativo
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr :id="'tr_' + value.Id" v-for="value in items">                    
                    <td>{{value.Nome}}</td>
                    <td>{{value.Tipo}}</td>
                    <td>{{value.Valor}}</td>
                    <td>{{value.Periodo}}</td>
                    <td><span v-for="item in value.Caracteristicas">{{item}}; </span></td>
                    <td>{{value.DataCadastro | parseData}}</td>
                    <td>
                        <input type="checkbox" class="form-control" :checked="value.Ativo | checked" disabled></td>
                        <td> <a :onclick="'Editar(\'' + value.Id + '\')'"><i class="glyphicon glyphicon-pencil"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal Plano -->
    <div class="modal fade" id="modalPlano" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <input id="btn_gravar" type="button" class="btn btn-success" value="Salvar" />
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form id="form_plano" action="http://www.finderjobs.com.br/Plano/Gravar" method="post">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <input hidden id="Id" />
                                    <div class="col-md-4">
                                        Nome:
                                        <input type="text" class="form-control" id="Nome" name="Nome" value="" required />
                                    </div>
                                    <div class="col-md-4">
                                        Tipo:
                                        <input type="text" class="form-control" id="Tipo" name="Tipo" value="" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 pull-right">
                                        Características: *separar por vírgula
                                        <textarea id="Caracteristicas" class="form-control" cols="3" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        Valor:
                                        <input type="number" class="form-control" id="Valor" name="Valor" value="" required />
                                    </div>
                                    <div class="col-md-2">
                                        Período:
                                        <input type="text" class="form-control" id="Periodo" name="Periodo" value="" required />
                                    </div>
                                    <div class="col-md-2">
                                        Ativo:
                                        <input type="checkbox" class="form-control" id="Ativo" name="Ativo" value="" required />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
        </div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../Scripts/moment.js"></script>
    <script src="http://localhost/Notify/notify.js"></script>

    <script>

        $(document).ready(function () {
            Listar();
        });
        var app = new Vue({
            el: '#app',
            data: {
                items: null
            },
            filters: {
                parseData: function (value) {
                    if (!value)
                        return ''
                    return moment(value).format("DD/MM/YYYY");
                },
                checked: function (value) {
                    if (!value)
                        return ''
                    if (value)
                        return true;
                }
            }
        });

        function Listar() {
            $.ajax({
                url: "http://www.finderjobs.com.br/Plano",
                type: "GET",
                contentType: 'application/json',
                success: function (data) {
                    if (data.sucesso) {
                        console.log(data.dados);
                        app.items = data.dados;
                    }
                    else
                        Notify('Nenhum plano encontrado', null, null);
                },
                error: function (result) {
                    Notify('Ocorreu um erro, informe a equipe de suporte', null, null, 'danger');
                    console.log(result);
                }
            });
        }

        function Editar(id) {
            $('#form_plano')[0].reset();
            var valores = $('#tr_' + id).children();
            $('#Id').val(id);
            $('#Nome').val(valores[0].innerText);
            $('#Tipo').val(valores[1].innerText);
            $('#Valor').val(valores[2].innerText);
            $('#Periodo').val(valores[3].innerText);
            $('#Caracteristicas').val(valores[4].innerText);
            $('#Ativo').attr('checked', $('#tr_' + id + ' input').is(':checked'));

            $('#modalPlano').modal();
        }

        $('#btn_adicionar').on('click', function (e) {
            $('#form_plano')[0].reset();
            $('#modalPlano').modal();
        });

        $('#btn_gravar').on('click', function (e) {
            Salvar($('#Id').val(), $('#Nome').val(), $('#Tipo').val(), $('#Periodo').val(), $('#Caracteristicas').val(), $('#Valor').val(), $('#Ativo').is(':checked'));
        });

        $("#btn_novo").click(function () {
            SalvarPlano(id)
        });

        function Salvar(id, nome, tipo, periodo, caracteristicas, valor, ativo) {

            if (caracteristicas == null || caracteristicas == undefined || caracteristicas.split(',').length == 0) {
                return alert("Favor adicionar características");
            }

            var plano =
            {
                'Id': id,
                'Tipo': tipo,
                'Nome': nome,
                'Valor': valor,
                'Periodo': periodo,
                'Caracteristicas': caracteristicas.split(','),
                'Ativo': ativo
            };

            $.ajax({
                url: 'http://www.finderjobs.com.br/Plano/Gravar',
                type: "Post",
                contentType: 'application/json',
                data: JSON.stringify(plano),
                success: function (data) {
                    if (data.sucesso) {
                        Notify('Sucesso', null, null, 'success');
                        Listar();
                        $('#modalPlano').modal('toggle');
                    }
                    else
                        Notify('Ocorreu um erro', null, null, 'danger');
                },
                error: function (result) {
                    Notify('Ocorreu um erro, informe a equipe de suporte', null, null, 'danger');
                    console.log(result);
                }
            });
        }
    </script>
</body>
</html>
