<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Finder Jobs</title>
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .cor-finder-jobs {
            color: #2C3E50;
            background-color: coral;
        }
    </style>
</head>
<body id="page-top" class="index">

    <!-- Pagina de retorno pagseguro -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 cor-finder-jobs">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="../Images/logo-fj.jpg" style="border-radius: 180px;"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        Pagamento registrado, acesse seu email e verifique seus dados de acesso.
                    </div>
                </div>
                <a href="http://finderjobs.com.br" class="btn btn-default"><i class="fa fa-times"></i> Página inicial</a>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            // redirecionar depois de 7 segundos            
            window.setTimeout(function () { window.location = "http://finderjobs.com.br"; }, 7000);
        });
    </script>
</body>
</html>