<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MongoDbDatabaseName" value="finderjobs" />
    <add key="MongoDbConnectionString" value="mongodb://localhost/{DB_NAME}?safe=true" />
    <add key="PeriodoEnviarEmailMinutos" value="30" />
    <add key="EmailCredencial" value="naoresponda@finderjobs.com.br" />
    <add key="EmailSenha" value="reply99@@" />
    <add key="EmailHostSmtp" value="webmail.corpflex.com.br" />
    <add key="EmailHostPort" value="587" />    
  </appSettings>
</configuration>