@{
    ViewBag.Title = "Habilidades";
}

<div class="jumbotron">
    <h4>Gerência das Habilidades</h4>
    <div class="form-group col-lg-4 col-md-1 col-sm-4 col-xs-10">
        <a onclick="GetHabilidades(true)"><i class="glyphicon glyphicon-list"></i> Listar</a>
    </div>
    <div class="form-group col-lg-4 col-md-1 col-sm-4 col-xs-10">
        <a onclick="GetHabilidades(false)"><i class="glyphicon glyphicon-check"></i> Aprovar</a>
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-10">
        <a onclick="AdicionarHabilidade()"><i class="glyphicon glyphicon-plus-sign"></i> Adicionar</a>
    </div>
    <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-10" id="div_txt_nova_habilidade" style="visibility: hidden">
        <input type="text" class="form-control" placeholder="Habilidade" id="txt_nova_habilidade" name="txt_nova_habilidade">
    </div>
    <div class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-2" id="div_btn_nova_habilidade" style="visibility: hidden">
        <button id="btn_nova_habilidade" type="button" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-check"></i> </button>
    </div>
    <table class="table"></table>
</div>

<script src="~/jquery/jquery-3.1.0.min.js"></script>

<script>

    function GetHabilidades(ativo) {
        $.ajax({
            url: "http://localhost:2222/Habilidade/Index?ativo=" + ativo,
            type: "GET",
            contentType: 'application/json',
            success: function (data) {
                if (data.length > 0) {
                    var html = '';
                    var icone = ativo ? 'remove' : 'check';
                    $.each(data, function (index, value) {
                        html += "<tr id='tr_" + value.Id + "'><td><input type='text' class='form-control' placeholder='' id='" + value.Id + "' name='" + value.Nome + "' value='" + value.Nome + "'></td>" +
                            "<td> <a onclick='SalvarHabilidade(\"" + value.Id + "\"," + ativo + ")'><i class='glyphicon glyphicon-"+ icone +"'></i></a></td>" +
                            "</tr>";
                    });
                    $('table').html(html);
                }
                else
                    alert("Nenhuma habilidade encontrada!");
            },
            error: function (result) {
                console.log('Ocoreu um erro, informe a equipe de suporte: ');
                console.log(result);
            }
        });
    }

    function AdicionarHabilidade() {
        $("#div_txt_nova_habilidade").css("visibility", "visible");
        $("#div_btn_nova_habilidade").css("visibility", "visible");
    }

    $("#btn_nova_habilidade").click(function () {        
        SalvarHabilidade('txt_nova_habilidade', false)        
    });

    function SalvarHabilidade(id, ativo) {
        var param_nome = "&nome=" + $('#' + id).val();
              
        if (id.indexOf('nova') > -1)
            id = '00000000-0000-0000-0000-000000000000';        

        var param_id = "&id=" + id;
        var param_ativo = "?ativo=" + !ativo;

        $.ajax({
            url: "http://localhost:2222/Habilidade/Salvar" + param_ativo + param_nome + param_id,
            type: "GET",
            contentType: 'application/json',
            success: function (data) {
                if (data) {
                    if (id == '00000000-0000-0000-0000-000000000000') {
                        $("#div_txt_nova_habilidade").css("visibility", "hidden");
                        $("#div_btn_nova_habilidade").css("visibility", "hidden");
                    }
                    else
                        $('#tr_' + id).remove();
                }                    
                else
                    alert('Ocorreu um erro!!!');
            },
            error: function (result) {
                console.log('Ocoreu um erro, informe a equipe de suporte: ');
                console.log(result);
            }
        });
    }

    function AdicionarHabilidade() {
        $("#div_txt_nova_habilidade").css("visibility", "visible");
        $("#div_btn_nova_habilidade").css("visibility", "visible");
    }
</script>