<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PeriodoEnviarEmailMinutos" value="30" />
    <add key="EmailCredencial" value="eder.zoe@gmail.com" />
    <add key="EmailSenha" value="eder7710" />
    <add key="EmailHostSmtp" value="smtp.gmail.com" />
    <add key="MongoDbDatabaseName" value="finderjobs" />
    <add key="MongoDbConnectionString" value="mongodb://localhost/{DB_NAME}?safe=true" />
  </appSettings>
</configuration>