
<div class="row">
    <form name="sentMessage" id="formCadastro" novalidate action="Acesso/Cadastrar" method="post">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" value="" name="Usuario.Id" id="Usuario_Id">
                        <input type="hidden" value="" name="Usuario.Tipo" id="Usuario_Tipo">

                        <div class="col-md-6 form-group">
                            Nome Completo<br />
                            <input type="text" name="UsuarioNome" id="Usuario_Nome" class="form-control nome" />
                        </div>
                        <div class="col-md-3 form-group" id="dvCelular">
                            Celular<br />
                            <input type="text" name="UsuarioCelular" id="Usuario_Celular" class="form-control phone_with_ddd" />
                        </div>
                        <div class="col-md-3 form-group" id="dvCpf">
                            <input type="radio" name="tipo" value="cpf" checked>CPF <input type="radio" name="tipo" value="cnpj">CNPJ<br />
                            <input type="text" name="UsuarioCpfCnpj" value="cnpj" id="Usuario_CpfCnpj" class="form-control cpf" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 form-group">
                            Email<br />
                            <div class="input-group">
                                <input type="text" name="UsuarioEmail" id="Usuario_Email" class="form-control" />
                                <a class="input-group-addon" id="Usuario_EmailEditar" onclick="EditarEmail()"><i class="fa fa-pencil"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <label for="btnAdicionarAvatar">
                            <img id="Usuario_Avatar" src="../images/icone-add-foto.png" width="120" height="120" style="pointer-events: none" />
                        </label>
                        <input id="btnAdicionarAvatar" type="file" style="visibility:hidden; width: 0; height: 0;" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2 form-group">
                    Cep<br />
                    <input type="text" class="form-control cep" maxlength="10" name="Usuario.EnderecoCep" id="Usuario_EnderecoCep" />
                </div>
                <div class="col-md-8 form-group">
                    Logradouro<br />
                    <input type="text" name="UsuarioEnderecoLogradouro" id="Usuario_EnderecoLogradouro" class="form-control" />
                </div>
                <div class="col-md-2 form-group">
                    Número<br />
                    <input type="text" name="UsuarioEnderecoNumero" id="Usuario_EnderecoNumero" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5 form-group">
                    Bairro<br />
                    <input type="text" name="UsuarioEnderecoBairro" id="Usuario_EnderecoBairro" class="form-control" />
                </div>
                <div class="col-md-5 form-group">
                    Cidade<br />
                    <input type="text" disabled name="UsuarioEnderecoCidade" id="Usuario_EnderecoCidade" class="form-control" />
                </div>
                <div class="col-md-2 form-group">
                    UF<br />
                    <input type="text" disabled name="UsuarioEnderecoUF" id="Usuario_EnderecoUF" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2" id="dvPago">
                    Pago: <br />
                    <input data-toggle="confirmation" id="btnPago" type="checkbox" name="Usuario.Pago" value="Usuario.Pago" data-off-text="Não" data-on-text="Sim" checked="checked" class="BSswitch">
                </div>
                <div class="form-group col-sm-3" style="display: none" id="dvPagarAgora">
                    <span id="btnPagSeguro"><img style="margin:9px;" alt="Pague com PagSeguro - é rápido, grátis e seguro!" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/95x45-pagar-azul.gif" onclick="GerarPagamento('cartao')"></span>
                </div>
                <div class="form-group col-sm-2" style="display: none" id="dvAnonimo">
                    Anônimo: <br />
                    <input id="btnAnonimo" type="checkbox" name="Usuario.Anonimo" value="Usuario.Anonimo" data-off-text="Não" data-on-text="Sim" checked="checked" class="BSswitch">
                </div>
                <div class="form-group col-sm-3" style="display: none" id="dvUpload">
                    <br />
                    <input type="file" id="btnAdicionarArquivo">
                </div>
                <div class="form-group col-sm-3" id="dvDownload">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <br />
                    <div class="input-group">
                        <input id="txtHabilidadeCadastro" autocomplete="false" type="text" class="form-control" placeholder="Habilidade...">
                        <span class="input-group-btn">
                            <button id="btnAddHabilidade" class="btn btn-secondary" type="button">Add</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group col-lg-4">
                    <div class="dropdown">
                        <button id="dropdownCadastro" style="display:none" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Habilidades Lista
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="HabilidadesSugestoes"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12" id="dvHabilidadesLista">
                </div>
            </div>
        </div>
    </form>
</div>

<script src="../jquery/jquery.mask.min.js"></script>

<script>
    $(document).ready(function () {
        $("input[name=tipo]:radio").change(function () {
            $('#Usuario_CpfCnpj').removeClass('cpf').removeClass('cnpj');
            if ($(this).val() == "cpf")
                $("#Usuario_CpfCnpj").addClass('cpf');
            else
                $("#Usuario_CpfCnpj").addClass('cnpj');
        });
    });

    function AdicionarMascara() {

        var $radios = $("input[name=tipo]:radio");
        if ($('#Usuario_CpfCnpj').val().length > 11) {
            $radios.filter('[value=cnpj]').prop('checked', true);
            $('#Usuario_CpfCnpj').removeClass('cpf').addClass('cnpj');
        }

        $('.cep').mask('00000-000');
        $('.phone_with_ddd').mask('(00) 00000-0000');
        $('.cpf').mask('000.000.000-00', { reverse: true });
        $('.cnpj').mask('00.000.000/0000-00', { reverse: true });
        $('.nome').mask('AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', {
            'translation': {
                A: { pattern: /[a-zA-Z0-9]/ }
            }
        });
    }

    function setHeader(xhr) {
        xhr.setRequestHeader('Authorization', 'bearer ' + localStorage.getItem('token'));
    }

    function EditarEmail() {
        Notify('Editar email', null, null);
    }

    function CarregaTipo(tipo) {
        $('#Usuario_Tipo').val(tipo);

        //candidato
        if (tipo == 'Candidato') {
            $('#dvCelular').fadeIn();
            EsconderExtras();

            $('#dvUpload').prepend('Adicionar Currículo:');
        }

            //empresa
        else {
            $('#dvCelular').hide();
            EsconderExtras();
            $('#dvUpload').prepend('Anexar "Vaga":');
        }

        if ($('#Usuario_Id').val() != null && $('#Usuario_Id').val() != '') {
            $('#Usuario_Email').prop('disabled', true);
            CarregarTodosArquivos($('#Usuario_Id').val());
        }
        $("#modalCadastro").modal();
    }

    $('#btnPago').bootstrapSwitch('state', false);
    $('#btnPago').on('switchChange.bootstrapSwitch', function () {
        if ($('#btnPago').bootstrapSwitch('state') == true) {
            $('#btnAnonimo').bootstrapSwitch('state', false);

            Pago(true);

            $('#btnAdicionarArquivo').filestyle({
                buttonText: ' ',
                buttonName: 'btn-info'
            });
        }
        else {
            Pago(false);
        }
    });

    $("#Usuario_EnderecoCep").change(function () {
        buscarEndereco();
    });

    function buscarEndereco() {
        var cep = $('#Usuario_EnderecoCep').val();
        if (cep != null && cep != undefined && cep.length > 7) {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': cep }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var lat = results[0].geometry.location.lat();
                    var lng = results[0].geometry.location.lng();

                    geocoder.geocode({ latLng: results[0].geometry.location }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {

                            $('#Usuario_EnderecoLogradouro').val('');
                            $('#Usuario_EnderecoBairro').val('');
                            $('#Usuario_EnderecoCidade').val('');
                            $('#Usuario_EnderecoUF').val('');
                            console.log(results);
                            $.each(results, function (index, value) {
                                $.each(value.types, function (index2, tipo) {

                                    if (tipo == "street_address" && value.address_components[1]) {
                                        //Logradouro
                                        $('#Usuario_EnderecoLogradouro').val(value.address_components[1].long_name);
                                        //Bairro
                                        $('#Usuario_EnderecoBairro').val(value.address_components[2].short_name);
                                    }
                                    else if (tipo == 'route') {
                                        //Logradouro
                                        $('#Usuario_EnderecoLogradouro').val(logradouro = value.address_components[0].long_name);
                                        //Bairro
                                        $('#Usuario_EnderecoBairro').val(value.address_components[2].short_name);
                                    }

                                    //Cidade
                                    if (tipo == "administrative_area_level_2")
                                        $('#Usuario_EnderecoCidade').val(value.address_components[0].short_name);
                                    //UF
                                    if (tipo == "administrative_area_level_1")
                                        $('#Usuario_EnderecoUF').val(value.address_components[0].short_name);

                                });
                            });
                        }
                    })
                }
            });
        }
    }

    $("#txtHabilidadeCadastro").keyup(function () {
        var parametro = $('#txtHabilidadeCadastro').val();
        if (parametro != undefined && parametro != '') {
            $.get("../Habilidade/Index?parametro=" + parametro, function (data) {
                if (data.length > 0) {
                    var html = '';
                    $.each(data, function (index, value) {
                        html += "<li><a href=\"javascript: SelecionarDDL(\'" + value.Id + "_" + value.Nome + "\');\">" + value.Nome + "</a></li>";
                    });
                    $('#HabilidadesSugestoes').html(html);
                    $('#dropdownCadastro').dropdown('toggle');
                    $("#txtHabilidadeCadastro").focus();
                }
            });
        }
    });

    SelecionarDDL = function (selecionado) {
        var id = selecionado.split('_')[0];
        var habilidade = selecionado.split('_')[1];
        if (!HabilidadeExiste(habilidade)) {
            var html = '<span id="habilidade_' + id + '" style="margin: 1px; padding: 4px;" class="alert-info">'
                           + habilidade + '<a data-toggle="confirmation2" style="color:red" href="#" id="'
                           + habilidade + '" onclick="RemoverHabilidade(this);return false;"><i class="fa fa-times"> </i></a></span>';
            $('#dvHabilidadesLista').append(html);
            $('#txtHabilidadeCadastro').val('');
        }
        else
            Notify('Você já adicionou esta habilidade', null, null);
    }

    function HabilidadeExiste(habilidade) {
        var existe = false;
        var lista = $('#dvHabilidadesLista span');
        $.each(lista, function (index, value) {
            if (value.innerText.toLowerCase() == habilidade.toLowerCase())
                existe = true;
        });

        return existe;
    }

    $("#btnAddHabilidade").click(function () {
        if (PodeAdicionarHabilidade()) {
            var habilidade = $('#txtHabilidadeCadastro').val();
            if (habilidade.length > 0) {
                if (!HabilidadeExiste(habilidade)) {
                    var html = '<span id="habilidade_' + habilidade + '" style="margin: 1px; padding: 4px;" class="alert-info">' + habilidade
                        + '<a style="color:red" href="#" id="' + habilidade + '" onclick="RemoverHabilidade(this);return false;"><i class="fa fa-times"> </i></a></span>';
                    $('#dvHabilidadesLista').append(html);
                }
                else
                    Notify('Você já adicionou esta habilidade', null, null);

                $('#txtHabilidadeCadastro').val('');
            }
            else
                Notify('Digite uma habilidade, por favor', null, null);
        }
        else
            Notify('Você atingiu o limite para adicionar habilidades', null, null);

    });

    function RemoverHabilidade(habilidade) {
        $(habilidade).parent().remove();
    }

    function PodeAdicionarHabilidade() {
        var pago = $("#btnPago").bootstrapSwitch('state');
        var quantidadeAtual = $('#dvHabilidadesLista span').length;
        if (pago && quantidadeAtual < 50) {
            return true;
        }
        if (quantidadeAtual < 20) {
            return true;
        }
        return false;
    }

    function EsconderExtras() {
        $('#dvPagarAgora').hide();
        $('#dvAnonimo').hide();
        $('#dvUpload').hide();
    }

    function Pago(sim) {
        $('#dvPagarAgora').hide();
        $('#dvAnonimo').hide();
        $('#dvUpload').hide();
        $('#dvUpload').hide();

        if (sim) {
            $('#dvPagarAgora').fadeIn();
            $('#dvAnonimo').fadeIn();
        }

        // arquivo
        if (true) {
            $('#dvUpload').fadeIn();
        }
        else {
            $('#dvUpload').fadeIn();
        }
    }

    $(function () {
        $("#btnCadastrar").click(function () {
            var id = $("#Usuario_Id").val();
            if (id != '' && id != undefined) {
                var id = $("#Usuario_Id").val();
                var email = $('#Usuario_Email').val();
                var tipo = $('#Usuario_Tipo').val();
                var nome = $("#Usuario_Nome").val();
                var celular = $("#Usuario_Celular").cleanVal();
                var CpfCnpj = $("#Usuario_CpfCnpj").cleanVal();
                var enderecoCep = $("#Usuario_EnderecoCep").cleanVal();
                var enderecoLogradouro = $("#Usuario_EnderecoLogradouro").val();
                var enderecoNumero = $("#Usuario_EnderecoNumero").val();
                var enderecoBairro = $("#Usuario_EnderecoBairro").val();
                var enderecoCidade = $("#Usuario_EnderecoCidade").val();
                var enderecoUF = $("#Usuario_EnderecoUF").val();
                var pago = $("#btnPago").bootstrapSwitch('state');
                var anonimo = $("#btnAnonimo").bootstrapSwitch('state');

                if (nome.length < 4)
                    return Notify('Preencha o nome ', null, null);

                // apenas para candidato
                if (tipo == "Candidato" && celular.length < 10 || celular.length > 15)
                    return Notify('Informe o seu celular ', null, null);

                if ($("input[value=cpf]:radio").prop('checked')) {
                    if (CpfCnpj.length != 11)
                        return Notify('Informe o seu CPF ', null, null);
                }

                if ($("input[value=cnpj]:radio").prop('checked')) {
                    if (CpfCnpj.length != 14)
                        return Notify('Informe o seu CNPJ ', null, null);
                }

                if (enderecoCep.length != 8)
                    return Notify('Informe o seu Cep ', null, null);

                if (enderecoNumero.length < 1)
                    return Notify('Informe o número do seu endereço ', null, null);

                var itens = { Habilidades: [], Endereco: {} };

                $.each($('#dvHabilidadesLista span'), function (index, value) {
                    itens.Habilidades.push({
                        'Id': value.id.split('_')[1],
                        'Nome': value.innerText
                    });
                });

                if (itens.Habilidades == undefined || itens.Habilidades == null || itens.Habilidades.length < 5)
                    return Notify('Adicione 5 habilidades, no mínimo', null, null);

                itens.Endereco = {
                    'Cep': enderecoCep,
                    'Logradouro': enderecoLogradouro,
                    'Numero': enderecoNumero,
                    'Bairro': enderecoBairro,
                    'Cidade': enderecoCidade,
                    'UF': enderecoUF,
                };

                var usuario =
                {
                    'Id': id,
                    'Nome': nome,
                    'Email': email,
                    'Celular': celular,
                    'CpfCnpj': CpfCnpj,
                    'Pago': pago,
                    'Anonimo': anonimo,
                    'Endereco': itens.Endereco,
                    'Habilidades': itens.Habilidades,
                    'Tipo': tipo
                };

                $.ajax({
                    url: "../Cadastro/Gravar",
                    type: "post",
                    data: JSON.stringify(usuario),
                    contentType: 'application/json',
                    dataType: 'json',
                    beforeSend: setHeader,
                    success: function (data) {
                        if (data.sucesso) {
                            $("#Usuario_Id").val(data.usuario.Id);                            
                            localStorage.setItem("usuario", JSON.stringify(data.usuario))
                            Notify("Alterado com sucesso", null, null, 'success');
                        }
                        else {
                            Notify('Ocorreu um erro: Informe a equipe de suporte', null, null, 'danger');
                        }
                    },
                    error: function (result) {
                        console.log(result);
                        Notify('Ocorreu um erro ' + result, null, null, 'danger');
                    }
                });
            }
        });
    });

    var form;
    $('#btnAdicionarArquivo').change(function (event) {
        if (event.target.files.length > 0) {
            var arquivo = event.target.files[0];
            var nome = arquivo.name.toLowerCase();
            if (nome.indexOf('.txt') > -1 || nome.indexOf('.doc') > -1 || nome.indexOf('.docx') > -1 || nome.indexOf('.pdf') > -1) {
                form = new FormData();
                form.append('fileUpload', event.target.files[0]);
                GravarArquivo($("#Usuario_Tipo").val());
            }
            else
                Notify('Permitido apenas arquivos .txt, .pdf, .doc ou .docx ', null, null);
        }
    });

    $('#btnAdicionarAvatar').change(function (event) {
        if (event.target.files.length > 0) {
            var arquivo = event.target.files[0];
            var nome = arquivo.name.toLowerCase();
            if (nome.indexOf('.png') > -1 || nome.indexOf('.jpg') > -1) {
                form = new FormData();
                form.append('fileUpload', event.target.files[0]);
                GravarArquivo('Avatar');
            }
            else
                Notify('Permitido apenas arquivos .png ou .jpg', null, null);
        }
    });

    function GravarArquivo(tipo) {
        $.ajax({
            url: "../Cadastro/GravarArquivo?id=" + $("#Usuario_Id").val() + "&tipo=" + tipo,
            data: form,
            processData: false,
            contentType: false,
            type: 'post',
            beforeSend: setHeader,
            success: function (data) {
                if (data.sucesso) {
                    if (data.arquivo.Tipo == 'Curriculo')
                        data.arquivo.Tipo = 'Currículo';
                    if (data.arquivo.Tipo == 'Avatar') {

                        var usuario = JSON.parse(localStorage.getItem("usuario"));
                        usuario.UrlAvatar = data.arquivo.Caminho + data.arquivo.Nome;
                        localStorage.setItem("usuario", JSON.stringify(usuario));
                        $('#Usuario_Avatar').attr('src', data.arquivo.Caminho.replace('~', '') + data.arquivo.Nome);
                    }
                    else {
                        var html = '<div class="form-group col-sm-6" id="arquivo_' + data.arquivo.Id + '">' + data.arquivo.Tipo + ': <br />' +
                                   '<a id="btnArquivo" href="' + data.arquivo.Caminho.replace('~', '') + data.arquivo.Nome + '" download><i class="fa fa-download fa-2x" aria-hidden="true"></i> </a>' +
                                   '<a id="btnExcluir" href="javascript: ExcluirArquivo(\'' + data.arquivo.Id + '\')"><i class="fa fa-trash fa-2x" aria-hidden="true"></i> </a> </div>';
                        $('#dvDownload').append(html);
                        $('#dvUpload').hide();
                    }
                }
                else {
                    Notify('Erro ao salvar arquivo: Informe a equipe de suporte', null, null, 'danger');
                }
            },
            error: function (result) {
                console.log(result);
                Notify('Erro ao salvar arquivo ' + result, null, null, 'danger');
            }
        });
    }

    function CarregarTodosArquivos(usuarioId) {
        $.ajax({
            url: "../Cadastro/CarregarTodosArquivos/" + usuarioId,
            contentType: 'application/json',
            dataType: 'json',
            type: 'get',
            beforeSend: setHeader,
            success: function (data) {
                if (data.sucesso && data.arquivos != null && data.arquivos.length > 0) {

                    var html = '';
                    $.each(data.arquivos, function (index, arquivo) {
                        if (arquivo.Tipo == 'Curriculo')
                            arquivo.Tipo = 'Currículo';

                        html += '<div class="form-group col-sm-6" id="arquivo_' + arquivo.Id + '">' + arquivo.Tipo + ': <br />' +
                                   '<a id="btnArquivo" href="' + arquivo.Caminho.replace('~', '') + arquivo.Nome + '" download><i class="fa fa-download fa-2x" aria-hidden="true"></i> </a>';
                        if (arquivo.Tipo != 'Boleto')
                            html += '<a id="btnExcluir" href="javascript: ExcluirArquivo(\'' + arquivo.Id + '\')"><i class="fa fa-trash fa-2x" aria-hidden="true"></i> </a> ';

                        html += '</div>';
                        $('#dvDownload').html(html);
                    });
                    $('#dvUpload').hide();
                }
            },
            error: function (result) {
                console.log(result);
                Notify('Não foi possível carregar o arquivo ' + result, null, null, 'danger');
            }
        });
    }

    function ExcluirArquivo(id) {
        $.ajax({
            url: "../Cadastro/ExcluirArquivo/" + id,
            contentType: 'application/json',
            dataType: 'json',
            type: 'get',
            beforeSend: setHeader,
            success: function (data) {
                if (data.sucesso) {
                    $('#arquivo_' + id).remove();
                    $('#btnAdicionarArquivo').filestyle('clear');
                    $('#dvUpload').fadeIn();
                    Notify('Arquivo excluído!', null, null, 'success');
                }
                else {
                    Notify('Erro ao excluir arquivo: Informe a equipe de suporte', null, null, 'danger');
                }
            },
            error: function (result) {
                console.log(result);
                Notify('Erro ao salvar arquivo ' + result, null, null, 'danger');
            }
        });
    }

    function GerarPagamento(meio) {
        if (meio != undefined && meio != null && meio != '') {
            $('#modalPagamentoBody').html('');
            $.ajax({
                url: "../Cadastro/Pagamento",
                data: JSON.stringify(meio),
                contentType: 'application/json',
                dataType: 'json',
                type: 'post',
                beforeSend: setHeader,
                success: function (data) {
                    if (data.sucesso) {
                        var iframe = '<iframe id="iframePagSeguro" src="' + data.mensagem + '" style="zoom:0.60" width="99.6%" height="750" frameborder="0"></iframe>';
                        $('#modalPagamentoBody').html(iframe);
                        $('#modalPagamento').modal();
                    }
                    else {
                        Notify('Ocorreu um erro, informe a equipe de suporte', null, null, 'danger');
                    }
                },
                error: function (result) {
                    console.log(result);
                    Notify('correu um erro, informe a equipe de suporte', null, null, 'danger');
                }
            });
        }
    }
</script>
