<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Finder Jobs</title>
    <!-- Bootstrap Core CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-switch.min.css" rel="stylesheet" />
    <!-- Notify CSS -->
    <link href="../notify/notify.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="../content/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        .corFinderJobs {
            color: #2C3E50;
        }
    </style>
</head>
<body id="page-top" class="index">
    <div class="container-fluid">
        <br />
        <nav id="" class="navbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <img src="../images/logo-fj.jpg" height="70" style="border-radius: 90px;" />
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="">
                        <a onclick="Cadastro()" class="portfolio-link" data-toggle="modal">Editar Cadastro</a>
                    </li>
                    <li class="">
                        <a href="javascript: Logout();" class="portfolio-link" data-toggle="modal">Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Section -->
    <section style="background-color: #d9edf7">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="pager">
                        <li><a onclick="PaginaAnterior()">Anterior</a></li>
                        <li><a id="paginaAtual" href="#">1</a></li>
                        <li><a onclick="ProximaPagina()">Próxima</a></li>
                    </ul>
                </div>
                <div id="listaVagas" class="col-lg-12">
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="" style="color: #ed7c31">
                            Processos Seletivos Inteligentes Utilizando Ciência de Dados
                        </h4>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                Direitos Reservados &copy; Finder Jobs 2014-<span id="anoAtual"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="../jquery/jquery.min.js"></script>
    <!-- Notify JS -->
    <script src="../notify/notify.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap/js/bootstrap-switch.min.js"></script>
    <script src="../bootstrap/js/bootstrap-filestyle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="../jquery/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="../content/js/jqBootstrapValidation.js"></script>
    <script src="../content/js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="../content/js/finderjobs.min.js"></script>
    <!-- google maps -->
    <script language="javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCycG73VSX4N6sFxieKuCpYBnAKCJrG3XI"></script>

    <script src="../bootstrap/js/bootstrap-confirmation.min.js"></script>

    <script>


        $(document).ready(function () {

            $('#anoAtual').html(new Date().getFullYear());  

            processarVagas(false, $('#paginaAtual').html());
        });

        function Logout() {
            localStorage.setItem("usuario", '');
            window.location.replace('/Acesso');
        }

        function ProximaPagina() {
            var pagina = parseInt($('#paginaAtual').html()) + 1;
            processarVagas(true, pagina);
        }

        function PaginaAnterior() {
            var pagina = parseInt($('#paginaAtual').html()) - 1;
            if (pagina > 0)
                processarVagas(true, pagina);
            else
                Notify('Você está na primeira página', null, null);
        }

        function Cadastro() {

            if (localStorage.getItem("usuario") == '' || localStorage.getItem("usuario") == null)
                window.location.replace('/Acesso');
            else
                var usuario = JSON.parse(localStorage.getItem("usuario"));

            // caregar partial view cadastro.html
            $.get("../Home/Cadastro", function (data) {
                $('#modalCadastroBody').html('');
                $('#modalCadastroBody').html(data);

                //carrega usuario
                $("#Usuario_Id").val(usuario.Id);
                $("#Usuario_Tipo").val(usuario.Tipo);
                $("#Usuario_Nome").val(usuario.Nome);
                if (usuario.UrlAvatar != null)
                    $("#Usuario_Avatar").attr('src', usuario.UrlAvatar.replace('~', ''));
                $("#Usuario_Email").val(usuario.Email);
                $("#Usuario_Celular").val(usuario.Celular);
                $("#Usuario_CpfCnpj").val(usuario.CpfCnpj);
                $("#Usuario_EnderecoCep").val(usuario.Endereco.Cep);
                $("#Usuario_EnderecoLogradouro").val(usuario.Endereco.Logradouro);
                $("#Usuario_EnderecoNumero").val(usuario.Endereco.Numero);
                $("#Usuario_EnderecoBairro").val(usuario.Endereco.Bairro);
                $("#Usuario_EnderecoCidade").val(usuario.Endereco.Cidade);
                $("#Usuario_EnderecoUF").val(usuario.Endereco.UF);
                $('#btnPago').bootstrapSwitch('state', usuario.Pago);
                $('#btnAnonimo').bootstrapSwitch('state', usuario.Anonimo);

                Pago(usuario.Pago);
                AdicionarMascara();
                CarregaTipo(usuario.Tipo);
                CarregarTodosArquivos(usuario.Id);
                carregarHabilidades();
                var habilidades = usuario.Habilidades;
                if (habilidades.length > 0) {
                    $.each(habilidades, function (index, habilidade) {
                        $('#habilidade' + (index + 1)).val(habilidade);
                    });
                }
            });
        }

        function setHeader(xhr) {
            xhr.setRequestHeader('Authorization', 'bearer ' + localStorage.getItem('token'));
        }

        function processarVagas(forcar, pagina) {

            var dataSetVagas = JSON.parse(localStorage.getItem("dataSetVagas"));

            if (forcar || dataSetVagas == null || dataSetVagas == undefined) {
                var usuario = JSON.parse(localStorage.getItem("usuario"));

                $.ajax({
                    url: '../Vagas/PesquisaCandidato?id=' + usuario.Id + "&pagina=" + pagina,
                    type: "GET",
                    beforeSend: setHeader,
                    success: function (data) {
                        if (data.data != undefined && data.data.length > 0) {
                            dataSetVagas = data.data;
                            localStorage.setItem('dataSetVagas', JSON.stringify(dataSetVagas));
                            CarregarGridVagas(dataSetVagas);
                            $('#paginaAtual').html(pagina)
                        }
                        else
                            return Notify('Não foram encontradas vagas', null, null);
                    }
                });
            }
            else
                CarregarGridVagas(dataSetVagas);
        }

        function CarregarGridVagas(dataSetVagas) {

            var html = '';
            $.each(dataSetVagas, function (index, vaga) {

                var urlAvatar = vaga.EmpresaUrlAvatar == null || vaga.EmpresaUrlAvatar == "" ? '../images/icone-usuario.png' : vaga.EmpresaUrlAvatar.replace('~', '');
                var empresaNome = vaga.EmpresaNome == null || vaga.EmpresaNome == "" ? "Anônimo" : vaga.EmpresaNome;
                var btnEnviarEmail = '<a class="btn btn-sm" href="javascript: enviarEmail(' + vaga.IdVaga + ');"><span class="glyphicon glyphicon-envelope"><span></a>';
                var habilidades = '';
                $.each(vaga.Habilidades, function (index, habilidade) {
                    habilidades += '<span style="margin: 1px; padding: 1px;" class="alert-info"> ' + habilidade + '</span>';
                });

                html += '<div class="row"><div class="col-lg-12 panel"><br /><div class="col-lg-1">' +
                    '<img src="' + urlAvatar + '" height="44" /> ' + empresaNome + ' </div>' +
                    '<div class="col-lg-10"><div class="col-lg-6"> <span style="font-weight: bold">' + vaga.Descricao + '</span>, Cep ' + vaga.Cep + '<br /> você está há ' + vaga.Distancia +
                    ', assertividade de ' + vaga.Aderencia + ' </div>' +
                    '<div class="col-lg-3">' + habilidades + ' </div>' +
                    '<div class="col-lg-3"> Cadastrada em ' + vaga.DataCadastro + '<br /> Disponível até ' + vaga.DataExpiracao + ' </div></div><div class="col-lg-1">' + btnEnviarEmail + '</div></div></div> ';
            });
            $('#listaVagas').html(html);

        }
    </script>
</body>

</html>

<!-- Modal Cadastro -->
<div class="modal fade" id="modalCadastro" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cadastro</h4>
            </div>
            <div class="modal-body" id="modalCadastroBody">
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="form-group col-lg-6 text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                    <div class="form-group col-lg-6 text-center">
                        <input class="btn btn-success" type="button" id="btnCadastrar" value="Alterar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


