<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Finder Jobs</title>
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .cor-finder-jobs {
            color: #2C3E50;
            background-color: coral;
        }
    </style>
</head>
<body id="page-top" class="index">

    <!-- Pagina de Erro 404 -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 cor-finder-jobs">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="../Images/logo-fj.jpg" style="border-radius: 180px;"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        Página não encontrada!
                    </div>
                </div>
                <a href="http://finderjobs.com.br" class="btn btn-default"><i class="fa fa-times"></i> Home</a>
            </div>
        </div>
    </div>


    <script>                  
            window.setTimeout(function () { window.location = "http://finderjobs.com.br"; }, 4000);        
    </script>
</body>
</html>