<div class="row">
    <form name="sentMessage" id="formCadastro" novalidate action="Acesso/Cadastrar" method="post">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" value="" name="Usuario.Id" id="Usuario_Id">
                        <input type="hidden" value="" name="Usuario.Tipo" id="Usuario_Tipo">

                        <div class="col-md-6 form-group">
                            Nome<br />
                            <input type="text" name="Usuario.Nome" id="Usuario_Nome" class="form-control" />
                            <span id="msgNome" style="color:red"></span>
                        </div>
                        <div class="col-md-3 form-group" id="dvLogin">
                            Login <br />
                            <input type="text" name="Usuario.Login" id="Usuario_Login" class="form-control" />
                            <span id="msgLogin" style="color:red"></span>
                        </div>
                        <div class="col-md-3 form-group" id="dvSenha">
                            Senha
                            <br />
                            <input type="password" name="Usuario.Senha" id="Usuario_Senha" class="form-control" />
                            <span id="msgSenha" style="color:red"></span>
                            <div hidden>
                                <input type="text" name="Usuario.Tipo" id="Usuario_Login" value="Candidato" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 form-group">
                            Email<br />
                            <input type="text" name="Usuario.Email" id="Usuario_Email" class="form-control" />
                            <span id="msgEmail" style="color:red"></span>
                        </div>
                        <div class="col-md-3 form-group" id="dvCelular">
                            Celular <br />
                            <input type="text" name="Usuario.Celular" id="Usuario_Celular" class="form-control" />
                            <span id="msgCelular" style="color:red"></span>
                        </div>
                        <div class="col-md-3 form-group">
                            CPF/CNPJ <br />
                            <input type="text" name="Usuario.CpfCnpj" id="Usuario_CpfCnpj" class="form-control" />
                            <span id="msgCpfCnpj" style="color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <img src="../images/icone-usuario.png" height="120" width="100" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2 form-group">
                    Cep<br />
                    <input type="text" name="Usuario.EnderecoCep" id="Usuario_EnderecoCep" class="form-control" />
                    <span id="msgEnderecoCep" style="color:red"></span>
                </div>
                <div class="col-md-6 form-group">
                    Logradouro<br />
                    <input type="text" name="Usuario.EnderecoLogradouro" id="Usuario_EnderecoLogradouro" class="form-control" />
                    <span id="msgEnderecoLogradouro" style="color:red"></span>
                </div>
                <div class="col-md-2 form-group">
                    Número<br />
                    <input type="text" name="Usuario.EnderecoNumero" id="Usuario_EnderecoNumero" class="form-control" />
                    <span id="msgEnderecoNumero" style="color:red"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5 form-group">
                    Bairro<br />
                    <input type="text" name="Usuario.EnderecoBairro" id="Usuario_EnderecoBairro" class="form-control" />
                    <span id="msgEnderecoBairro" style="color:red"></span>
                </div>
                <div class="col-md-3 form-group">
                    Cidade<br />
                    <input type="text" name="Usuario.EnderecoCidade" id="Usuario_EnderecoCidade" class="form-control" />
                    <span id="msgEnderecoCidade" style="color:red"></span>
                </div>
                <div class="col-md-2 form-group">
                    UF<br />
                    <input type="text" name="Usuario.EnderecoUF" id="Usuario_EnderecoUF" class="form-control" />
                    <span id="msgEnderecoUF" style="color:red"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2" style="display: none" id="dvPago">
                    Pago: <br />
                    <input data-toggle="confirmation" id="btnPago" type="checkbox" name="Usuario.Pago" value="Usuario.Pago" data-off-text="Não" data-on-text="Sim" checked="checked" class="BSswitch">
                </div>
                <div class="form-group col-sm-2" style="display: none" id="dvValor">
                    Valor: <br />
                    <input disabled type="text" name="Usuario.Valor" id="Usuario_Valor" class="form-control" />
                </div>
                <div class="form-group col-sm-2" style="display: none" id="dvAnonimo">
                    Anônimo: <br />
                    <input id="btnAnonimo" type="checkbox" name="Usuario.Anonimo" value="Usuario.Anonimo" data-off-text="Não" data-on-text="Sim" checked="checked" class="BSswitch">
                </div>
                <div class="form-group col-sm-4" style="display: none" id="dvUpload">
                    <br />
                    <input type="file" id="btnAdicionarArquivo">
                </div>
                <div class="form-group col-sm-2" style="display: none" id="dvDownload">

                </div>
                <div class="form-group col-sm-1" style="display: initial" id="dvDownloadBoleto">
                    Boleto: <br />
                    <a href="#" download> <img src="../images/icone-boleto.png" id="logoBoleto" height="42" width="62" /> </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <br />
                    <div class="input-group">
                        <input id="txtHabilidadeCadastro" autocomplete="false" type="text" class="form-control" placeholder="Habilidade...">
                        <span class="input-group-btn">
                            <button id="btnAddHabilidade" class="btn btn-secondary" type="button">Add</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group col-lg-4">
                    <div class="dropdown">
                        <button id="dropdownCadastro" style="display:none" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Habilidades Lista
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="HabilidadesSugestoes"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12" id="dvHabilidadesLista">
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    function CarregaTipo(tipo) {
        $('#Usuario_Tipo').val(tipo);
        if ($('#Usuario_Id').val() > 0) {
            $('#dvLogin').hide();
            $('#dvSenha').hide();
        }

        //candidato
        if (tipo == 'Candidato') {
            $('#dvCelular').fadeIn();
            EsconderExtras();

            $('#dvUpload').prepend('Adicionar Currículo:');
            $('#Usuario_Valor').val('R$ 100,00');
        }

            //empresa
        else {
            $('#dvCelular').hide();
            EsconderExtras();
            $('#dvUpload').prepend('Anexar "Vaga":');
            $('#Usuario_Valor').val('R$ 1.000,00');
        }

        $('#dvPago').fadeIn();
        $("#modalCadastro").modal();
    }

    $('#btnPago').bootstrapSwitch('state', false);
    $('#btnPago').on('switchChange.bootstrapSwitch', function () {

        // usar notify

        if ($('#btnPago').bootstrapSwitch('state') == true) {
            $('#btnAnonimo').bootstrapSwitch('state', false);

            Pago(true);

            $('#btnAdicionarArquivo').filestyle({
                buttonText: ' ',
                buttonName: 'btn-info'
            });
        }
        else {
            Pago(false);
        }
    });

    $("#Usuario_EnderecoCep").change(function () {
        buscarEndereco();
    });

    $("#Usuario_Login").change(function () {
        var login = $('#Usuario_Login').val();

        $.get("../Acesso/UsuarioDisponivel?login=" + login, function (data) {
            if (!data.sucesso) {
                Notify('Login já existe', null, null, 'danger');
                $("#Usuario_Login").focus();
            }
        }).fail(function (result) {
            Notify('Erro ao validar login ' + result, null, null, 'danger');
        });
    });

    function buscarEndereco() {
        var cep = $('#Usuario_EnderecoCep').val();
        if (cep != null && cep != undefined && cep.length > 7) {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': cep }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var lat = results[0].geometry.location.lat();
                    var lng = results[0].geometry.location.lng();

                    geocoder.geocode({ latLng: results[0].geometry.location }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {

                            $('#Usuario_EnderecoLogradouro').val('');
                            $('#Usuario_EnderecoBairro').val('');
                            $('#Usuario_EnderecoCidade').val('');
                            $('#Usuario_EnderecoUF').val('');
                            console.log(results);
                            $.each(results, function (index, value) {
                                $.each(value.types, function (index2, tipo) {

                                    if (tipo == "street_address" && value.address_components[1]) {
                                        //Logradouro
                                        $('#Usuario_EnderecoLogradouro').val(value.address_components[1].long_name);
                                        //Bairro
                                        $('#Usuario_EnderecoBairro').val(value.address_components[2].short_name);
                                    }
                                    else if (tipo == 'route') {
                                        //Logradouro
                                        $('#Usuario_EnderecoLogradouro').val(logradouro = value.address_components[0].long_name);
                                        //Bairro
                                        $('#Usuario_EnderecoBairro').val(value.address_components[2].short_name);
                                    }

                                    //Cidade
                                    if (tipo == "administrative_area_level_2")
                                        $('#Usuario_EnderecoCidade').val(value.address_components[0].short_name);
                                    //UF
                                    if (tipo == "administrative_area_level_1")
                                        $('#Usuario_EnderecoUF').val(value.address_components[0].short_name);

                                });
                            });
                        }
                    })
                }
            });
        }
    }

    $("#txtHabilidadeCadastro").keyup(function () {
        var parametro = $('#txtHabilidadeCadastro').val();
        if (parametro != undefined && parametro != '') {
            $.get("../Habilidade/Index?parametro=" + parametro, function (data) {
                if (data.length > 0) {
                    var html = '';
                    $.each(data, function (index, value) {
                        html += "<li><a href=\"javascript: SelecionarDDL(\'" + value.Id + "_" + value.Nome + "\');\">" + value.Nome + "</a></li>";
                    });
                    $('#HabilidadesSugestoes').html(html);
                    $('#dropdownCadastro').dropdown('toggle');
                    $("#txtHabilidadeCadastro").focus();
                }
            });
        }
    });

    SelecionarDDL = function (selecionado) {
        var id = selecionado.split('_')[0];
        var habilidade = selecionado.split('_')[1];
        if (!HabilidadeExiste(habilidade)) {
            var html = '<span id="habilidade_' + id + '" style="margin: 1px; padding: 4px;" class="alert-info">'
                           + habilidade + '<a data-toggle="confirmation2" style="color:red" href="#" id="'
                           + habilidade + '" onclick="RemoverHabilidade(\'habilidade_' + id + '\');return false;"><i class="fa fa-times"> </i></a></span>';
            $('#dvHabilidadesLista').append(html);
            $('#txtHabilidadeCadastro').val('');
        }
        else
            Notify('Você já adicionou esta habilidade', null, null);
    }

    function HabilidadeExiste(habilidade) {
        var existe = false;
        var lista = $('#dvHabilidadesLista span');
        $.each(lista, function (index, value) {
            if (value.innerText.toLowerCase() == habilidade.toLowerCase())
                existe = true;
        });

        return existe;
    }

    $("#btnAddHabilidade").click(function () {
        if (PodeAdicionarHabilidade()) {
            var habilidade = $('#txtHabilidadeCadastro').val();
            if (habilidade.length > 0) {
                if (!HabilidadeExiste(habilidade)) {
                    var html = '<span id="habilidade_' + habilidade + '" style="margin: 1px; padding: 4px;" class="alert-info">' + habilidade
                        + '<a style="color:red" href="#" id="' + habilidade + '" onclick="RemoverHabilidade(this);return false;"><i class="fa fa-times"> </i></a></span>';
                    $('#dvHabilidadesLista').append(html);
                }
                else
                    Notify('Você já adicionou esta habilidade', null, null);

                $('#txtHabilidadeCadastro').val('');
            }
            else
                Notify('Digite uma habilidade, por favor', null, null);
        }
        else
            Notify('Você atingiu o limite para adicionar habilidades', null, null);

    });

    function RemoverHabilidade(habilidade) {
        $('#habilidade_' + habilidade.id).remove();
    }

    function PodeAdicionarHabilidade() {
        var pago = $("#btnPago").bootstrapSwitch('state');
        var quantidadeAtual = $('#dvHabilidadesLista span').length;
        if (pago && quantidadeAtual < 50) {
            return true;
        }
        if (quantidadeAtual < 20) {
            return true;
        }
        return false;
    }

    function EsconderExtras() {

        $('#dvPago').hide();
        $('#dvValor').hide();
        $('#dvAnonimo').hide();
        $('#dvUpload').hide();
        $('#dvDownload').hide();
        $('#dvDownloadBoleto').hide();
    }

    function Pago(sim) {
        $('#dvValor').hide();
        $('#dvAnonimo').hide();
        $('#dvUpload').hide();
        $('#dvDownload').hide();
        $('#dvDownloadBoleto').hide();

        if (sim) {
            $('#dvValor').fadeIn();
            $('#dvAnonimo').fadeIn();

            if ($('#dvDownload a').attr('href') != undefined && $('#dvDownload a').attr('href').length > 1) {
                $('#dvDownload').fadeIn();
            }
            else
                $('#dvUpload').fadeIn();

            if ($('#dvDownloadBoleto a').attr('href') != undefined && $('#dvDownloadBoleto a').attr('href').length > 1) {
                $('#dvDownloadBoleto').fadeIn();
            }
        }
    }

    var usuario;
    $(function () {
        $("#btnCadastrar").click(function () {
            var valido = true;
            var regexEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            var id = $("#Usuario_Id").val();
            var tipo = $('#Usuario_Tipo').val();
            var nome = $("#Usuario_Nome").val();
            var login = $("#Usuario_Login").val();
            var senha = $("#Usuario_Senha").val();
            var email = $("#Usuario_Email").val();
            var celular = $("#Usuario_Celular").val();
            var CpfCnpj = $("#Usuario_CpfCnpj").val();
            var cep = $("#Usuario_EnderecoCep").val();
            var logradouro = $("#Usuario_EnderecoLogradouro").val();
            var numero = $("#Usuario_EnderecoNumero").val();
            var bairro = $("#Usuario_EnderecoBairro").val();
            var cidade = $("#Usuario_EnderecoCidade").val();
            var UF = $("#Usuario_EnderecoUF").val();
            var pago = $("#btnPago").bootstrapSwitch('state');
            var anonimo = $("#btnAnonimo").bootstrapSwitch('state');

            if (nome.length < 4 || nome.length > 40) {
                $("#msgNome").html("Obrigatório");
                valido = false;
            }
            else
                $("#msgNome").html("");

            if (login.length != 8) {
                $("#msgLogin").html("Obrigatório, 8 caracteres");
                valido = false;
            }
            else
                $("#msgLogin").html("");

            if (id == 0 && senha.length != 8) {
                $("#msgSenha").html("Obrigatório, 8 caracteres");
                valido = false;
            }
            else
                $("#msgSenha").html("");

            if (!regexEmail.test(email)) {
                $("#msgEmail").html("Email inválido");
                valido = false;
            }
            else
                $("#msgEmail").html("");

            // apenas para candidato
            if (tipo == "Candidato" && celular.length < 10 || celular.length > 11) {
                $("#msgCelular").html("Obrigatório, somente números");
                valido = false;
            }
            else
                $("#msgCelular").html("");

            if (CpfCnpj.length < 6 || CpfCnpj.length > 13) {
                $("#msgCpfCnpj").html("Obrigatório, somente números");
                valido = false;
            }
            else
                $("#msgCpfCnpj").html("");

            if (cep.length != 8 || !(/^[0-9]+$/.test(cep))) {
                $("#msgEnderecoCep").html("Obrigatório, 8 dígitos");
                valido = false;
            }
            else
                $("#msgEnderecoCep").html("");

            if (valido) {

                var habilidades = new Array();

                $.each($('#dvHabilidadesLista span'), function (index, value) {
                    var habilidade = {
                        'Id': value.id.split('_')[1],
                        'Nome': value.innerText
                    };
                    habilidades.push(habilidade);
                });

                if (habilidades == undefined || habilidades == null || habilidades.length < 5)
                    return Notify('Adicione 5 habilidades, no mínimo', null, null);

                Habilidades = JSON.stringify(habilidades)

                var dados =
                {
                    'Id': id,
                    'Nome': nome,
                    'Login': login,
                    'Senha': senha,
                    'Email': email,
                    'Celular': celular,
                    'CpfCnpj': CpfCnpj,
                    'EnderecoCep': cep,
                    'EnderecoLogradouro': logradouro,
                    'EnderecoNumero': numero,
                    'EnderecoBairro': bairro,
                    'EnderecoCidade': cidade,
                    'EnderecoUF': UF,
                    'Pago': pago,
                    'Anonimo': anonimo,
                    'Habilidades': Habilidades,
                    'Tipo': tipo,
                };

                usuario = JSON.stringify(dados);
                var url = ((id != undefined && id != '' && id > 0) ? "../Acesso/Alterar" : "../Acesso/Cadastrar");
                var mensagem = ((id != undefined && id != '' && id > 0) ? "Alterado com sucesso" : "Cadastro realizado!");
                $.ajax({
                    url: url,
                    type: "post",
                    data: usuario,
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (data) {
                        if (data.sucesso) {
                            $("#Usuario_Id").val(data.usuario.Id);
                            localStorage.setItem('usuario', JSON.stringify(data.usuario));
                            Notify(mensagem, null, null, 'success');
                            if (data.usuario.Pago) {
                                GerarBoleto();
                                Notify('Você receberá no seu email informações sobre o pagamento', null, null, 'success');
                            }

                            GravarArquivo();
                        }
                        else {
                            Notify('Ocorreu um erro: Informe a equipe de suporte', null, null, 'danger');
                        }
                    },
                    error: function (result) {
                        Notify('Ocorreu um erro ' + result, null, null, 'danger');
                    }
                });
            }
        });
    });

    var form;
    $('#btnAdicionarArquivo').change(function (event) {
        if (event.target.files.length > 0) {
            var arquivo = event.target.files[0];
            var nome = arquivo.name.toLowerCase();
            if (nome.indexOf('.txt') > -1 || nome.indexOf('.doc') > -1 || nome.indexOf('.docx') > -1 || nome.indexOf('.pdf') > -1) {
                form = new FormData();
                form.append('fileUpload', event.target.files[0]);
                GravarArquivo();
            }
            else
                Notify('Permitido apenas arquivos .txt, .pdf, .doc ou .docx ', null, null);
        }
    });

    function GravarArquivo() {
        if (typeof form != 'undefined' && $("#Usuario_Id").val() > 0) {
            $.ajax({
                url: "../Acesso/GravarArquivo?id=" + $("#Usuario_Id").val() + "&tipo=" + $("#Usuario_Tipo").val(),
                data: form,
                processData: false,
                contentType: false,
                type: 'post',
                success: function (data) {
                    if (data.sucesso) {
                        $('#btnArquivo').attr('href', data.url.replace('~', ''));
                        $('#btnExcluir').attr('href', 'javascript: ExcluirArquivo(' + data.id + ')');
                        $('#dvDownload').fadeIn();
                        $('#dvUpload').hide();
                    }
                    else {
                        Notify('Erro ao salvar arquivo: Informe a equipe de suporte', null, null, 'danger');
                    }
                },
                error: function (result) {
                    Notify('Erro ao salvar arquivo ' + result, null, null, 'danger');
                }
            });
        }
    }

    function ExibirArquivo(arquivo) {

    }

    function CarregarTodosArquivos(usuarioId) {
        $.get("../Acesso/CarregarTodosArquivos?id=" + usuarioId, function (data) {
            if (data.sucesso && data.arquivos != null && data.arquivos.length > 0) {
                var html = '';
                debugger;
                $.each(data.arquivos, function (index, arquivo) {
                    if (arquivo.Tipo == 'Curriculo')
                        arquivo.Tipo = 'Currículo';

                    html += '<div id="arquivo_' + arquivo.Id + '">' + arquivo.Tipo + ': <br />' +
                               '<a id="btnArquivo" href="' + arquivo.Caminho.replace('~', '') + arquivo.Nome + '" download><i class="fa fa-download fa-2x" aria-hidden="true"></i> </a>' +
                               '<a id="btnExcluir" href="javascript: ExcluirArquivo(' + arquivo.Id + ')"><i class="fa fa-trash fa-2x" aria-hidden="true"></i> </a> </div>';
                    $('#dvDownload').html(html);                    
                });
                $('#dvUpload').hide();
                $('#dvDownload').fadeIn();
            }
        }).fail(function (result) {
            Notify('Não foi possível carregar o arquivo ' + result, null, null, 'danger');
        });
    }

    function ExcluirArquivo(id) {
        if ($("#Usuario_Id").val() > 0) {
            $.ajax({
                url: "../Acesso/ExcluirArquivo/" + id,
                data: usuario,
                contentType: 'application/json',
                dataType: 'json',
                type: 'get',
                success: function (data) {
                    if (data.sucesso) {
                        $('#downloadCurriculo').first().attr('href', '');
                        $('#dvDownload').hide();
                        $('#btnAdicionarArquivo').filestyle('clear');
                        $('#dvUpload').fadeIn();
                        Notify('Arquivo excluído!', null, null, 'success');
                    }
                    else {
                        Notify('Erro ao excluir arquivo: Informe a equipe de suporte', null, null, 'danger');
                    }
                },
                error: function (result) {
                    Notify('Erro ao salvar arquivo ' + result, null, null, 'danger');
                }
            });
        }
    }

    function GerarBoleto() {
        if ($("#Usuario_Id").val() > 0) {
            $.ajax({
                url: "../Acesso/GerarBoleto",
                data: usuario,
                contentType: 'application/json',
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    if (data.sucesso) {
                        $('#dvDownloadBoleto a').attr('href', data.url.replace('~', ''));
                        $('#dvDownloadBoleto').fadeIn();
                        $('#dvUpload').hide();
                    }
                    else {
                        Notify('Erro ao salvar arquivo: Informe a equipe de suporte', null, null, 'danger');
                    }
                },
                error: function (result) {
                    Notify('Erro ao salvar arquivo ' + result, null, null, 'danger');
                }
            });
        }
    }
</script>
